@charset "UTF-8";
/* Fonts */
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);


@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600,700);
/*---------------------------------
RESETS
------------------------------------------*/

* {
	margin: 0;
	padding: 0;
}

a  {
	text-decoration: none;
	outline: 0;
}

a img { border: 0;}

.stretch,.clear {
	clear: both;
	height: 1px;
	margin: 0;
	padding: 0;
	font-size: 15px;
	line-height: 1px;
}

.clearfix:after {
	clear: both;
	height: 0;
	display: block;
	visibility: hidden;
	content: ".";
}

p {
	line-height: 1.5;
	margin: 0 0 15px 0;
}

#simple-msg{
	text-align: center;
}
/*-------------------------------------
GLOBAL
------------------------------------------*/

html, body {
	margin: 0;
	padding: 0;
	/*background-color: #f9f9f9;*/
	font-family: "Open Sans",sans-serif;
	font-size: 12px;
	color: #3f3f3f;
}

/*-------------------------------------
HEADINGS
------------------------------------------*/

h1 {
	color: #404141;
	font-size: 16px;
	font-weight: normal;
	letter-spacing: 0px;
	line-height: 30px;
	margin: 12px auto;
	padding: 0;
	text-transform: uppercase;
}

/*-------------------------------------
LISTS
------------------------------------------*/

ul {
	margin: 0 0 15px 0;
	padding: 0;
	line-height: 14px;
}

ul li {
	margin: 0 0 3px 15px;
	padding: 0;
}

label.error {
	display: block;
	color: red;
	font-size: 11px;
	font-weight: bold;
}

#logo{
	margin: 20px auto auto;
	width: 262px;
}
#logo img{
	display: none;
}

/*-------------------------------------
FORM CORE
------------------------------------------*/
#container {
	background: none repeat scroll 0 0 #edeaea;
	border-radius: 10px;
	margin: auto;

	padding: 15px 0;
	text-align: center;
	width: 366px;
}
#spcontainer {
    background: none repeat scroll 0 0 #edeaea;
    border-radius: 10px;
    margin: auto;
    padding: 15px 0;
    text-align: center;
    width: 366px;
}
form#contact {

	border-radius: 5px;
	margin: auto;
	padding: 10px 50px;
	width: 72%;
	overflow: hidden;
}

form#contact fieldset {
	padding: 10px 20px 20px 20px;
	margin: 0 auto;
	border: 0;
	background-color: #fff;
	width: 290px;
	text-align: left;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-moz-box-shadow: 0px 0px 10px #d3d3d3;
	-webkit-box-shadow: 0px 2px 10px #d3d3d3;
	box-shadow: 0px 0px 10px #d3d3d3;
}
#samplegname{
	clear: both;
	float: right;
	text-align: left;
	width: 98%;
	margin-bottom: 6px;
}
.specialrow{
	/*float: left;*/
	/*margin-bottom: 5px;*/
	margin-right: 20px;
	overflow: hidden;
	padding: 5px;
	width: 95%;

}
.row {
	/*float: left;*/
	/*margin-bottom: 5px;*/
	margin-right: 20px;
	overflow: hidden;
	padding: 5px;
	width: 95%;
}
form#contact input[type="text"], input[type="url"], input[type="number"], input[type="password"], input[type="email"], input[type="tel"], select, textarea {
	background: #fbfbfb;
	border: medium none;
	float: right;
	font-family: "Open Sans",sans-serif;
	font-size: 12px;
	margin: 2px 0;
	padding: 4px;
	width: 179px;
	color: #000;
}

form#contact select {
	width: 187px;
	color: #000000;
}
form.validate-form1 .spemail {
	background: none repeat scroll 0 0 #fbfbfb !important;
	border: medium none;
	float: left;
	font-family: "Montserrat",sans-serif;
	font-size: 18px;
	margin: 2px 2px 7px;
	padding: 3px 6px;
	width: 95%;
	color: #000;
}
form#contact textarea {
	width: 275px;
	height: 150px;
}

form#contact label {
	display: block;
	float: left;
	font-size: 13px;
	line-height: 17px;
	margin: 2px 0;
	padding: 4px 0;
	text-align: left;
	width: 89px;
	font-family: "Montserrat",sans-serif;
}

form#contact label.error {
	width: 270px;
	margin: 3px 0 0 0;
	display: block;
	color: #cf0101;
	font-size: 11px;
	text-align: right;
}

form#contact .placeholder {
	color: #aaa;
}

form#contact2{
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #CCC;
	margin: auto;
	padding: 10px;
	width: 561px;
	border-radius: 5px;
}

form#contact2 fieldset {
	padding: 10px 20px 20px 20px;
	margin: 0 auto;
	border: 0;
	background-color: #fff;
	width: 290px;
	text-align: left;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-moz-box-shadow: 0px 0px 10px #d3d3d3;
	-webkit-box-shadow: 0px 2px 10px #d3d3d3;
	box-shadow: 0px 0px 10px #d3d3d3;
}
#stage1{
	background: url("../step1.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
	height: 22px;
	margin: 5px auto;
	width: 82px;
}
#stage2{
	background: url("../step2.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
	height: 22px;
	margin: 5px auto;
	width: 82px;
}
#stage3{
	background: url("../step3.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
	height: 22px;
	margin: 25px auto 5px;
	width: 82px;
}

form#contact2 select {
	margin: 3px 0 0 0;
	padding: 6px;
	width: 273px;
	font-family: arial, sans-serif;
	font-size: 12px;
	border: 1px solid #ccc;
	background: -webkit-gradient(linear, left top, left 15, from(#FFFFFF), color-stop(4%, #f4f4f4), to(#FFFFFF));
	background: -moz-linear-gradient(top, #FFFFFF, #f4f4f4 1px, #FFFFFF 15px);
}

form#contact2 textarea {
	width: 275px;
	height: 150px;
}

form#contact2 label {
	display: block;
	font-size: 13px;
	color: #666;
	font-weight: bold;
	text-align: left;
}

form#contact2 label.error {
	width: 270px;
	margin: 3px 0 0 0;
	display: block;
	color: #cf0101;
	font-size: 11px;
	text-align: right;
}

form#contact2 .placeholder {
	color: #aaa;
}

form#contact p {
	clear: both;

	font-size: 12px;
	margin: 0;
	text-align: left;
}
form#contact p a{
	color: #d72128;
	font-size: 12px;
}
form#contact {
	border-radius: 5px;
	clear: both;
	margin: auto;
	overflow: hidden;
	padding: 5px 36px 0;
	width: 80%;
}
.myButton {
	background: #f2333a;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2333a), color-stop(50%,#f2333a), color-stop(51%,#f2333a), color-stop(100%,#f2333a));
	border: medium none;
	border-radius: 3px;
	color: #fff;
	font-family: Montserrat,sans-serif;
	font-size: 18px;
	margin: 5px auto;
	padding: 2px 6px;
	text-transform: uppercase;
	transition: all 0.2s ease-out 0s;
	width: 148px;
	height: 28px;
}

/*.myButton:hover{
cursor: pointer;
background: #f7f7f7;
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(50%,#f7f7f7), color-stop(51%,#f7f7f7), color-stop(100%,#f7f7f7));
color: #f2333a;
}*/

.success {
	background-position: 10px center;
	background-repeat: no-repeat;
	color: #333;
	font-size: 140%;
	margin: 10px auto;
	padding: 10px 40px;
	text-align: justify;

}
strong{
	color: #000;
}
.errormsgbox {
	border: 1px solid;
	margin: 0 auto;
	padding: 10px 40px;
	background-repeat: no-repeat;
	background-position: 10px center;
	width: 450px;
	color: #D8000C;
	background-color: #FFBABA;
	font-size: 130%;
}
.require{
	color: red;
}
input.disable{
	background: #fff !important;
	border: none !important;
	width: 100% !important;
	font-weight: bold;
}

/***********************/

/*:invalid {
box-shadow: none;
outline: 0;
}
:valid {
border: 1px solid rgba(0, 0, 0, 0.25);
}*/

/*.invalid input:required:invalid {
background: #BE4C54;
}

.invalid input:required:valid {
background: #17D654 ;
}*/

input {
	display: block;
	margin-bottom: 10px;
}

input:invalid:focus {
	/*outline: 2px solid rgba(200, 76, 76, 0.89);*/
}

input:required:invalid {
	/*outline: 2px solid rgba(200, 76, 76, 0.89);*/
}

#email {
	background: #c9c9c9;
	cursor: default;
}
@media only screen and (min-width:240px) and (max-width:360px){
	#container {
		min-width: initial;
		width: 100%;
	}
	#spcontainer {
		font-size: 80%;
		/*margin-top: 896px;*/
		min-width: initial;
		width: 100%;
	}

	input[type="email"] {
		float: none;
		margin: 2px auto;
		width: 250px;
	}
	.myButton {
		float: none;
		margin: 8px auto 2px auto;
	}
	form#contact {
		padding: 2% 10%;
		width: 80%;
	}
	.row,.specialrow {
		margin: 0;
		padding: 3px 0;
		width: 99%;
	}

	#contact div:nth-of-type(14){
		padding-top: 12px;
	}
	#captcha{
		margin-left: 0px !important;
		width: 130px !important;
	}
	form#contact input[type="text"], input[type="url"], input[type="number"], input[type="password"], input[type="email"], input[type="tel"], select, textarea {
		margin: 0px 2px;
    		width: 93%;
		float: left;
	}
	form#contact select {
		width: 98%;
		
	}
}
